<%- include('parts/head', {bot, user, path}) %>
<title>FAQ | Discord Bots</title>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
            <h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
            <p class="has-text-white" style="text-align: center; font-size: 25px"> Sıkça Sorulan Sourlar(SSS) <i class="fad fa-question-circle"></i></p>
            <p class="text-muted">
                &raquo <b>Biz Kimiz?</b><br>Biz, discord bot geliştiricilerine destek olan ve botlarını daha iyi yerlere geçirmek için çabalayan ve hanhangi bir geliştiricinin her türlü koda ulaşmasını sağlayan RabeL Code ekibiyiz.<br>
                <br>&raquo <b>Size Güvenebilirmiyim?</b><br>Bu soruya hiç şüphe etmeden evet diyebiliriz, çünkü biz kullanıcılarımızın sadece Discord Kullanıcı adlarna ve profil fotoğraflarına erişm istiyoruz ki buda zaten harhangi bir tehdit oluşturmuyor bu durumda hiç bir özel bilgi sağlanmadığını söyleyebilirz ve ayrıca web sitemiz 7/24 koruma altında tutulmaktadır bu da saldırganların verilerinize erişemeyeceği anlamına geliyor.<br>
                <br>&raquo <b>Web Sitenizde barındırdığınız bot ve kodlar herhangi bir sıkanca yaratıyormu?</b><br>Hayır barındırmıyor çünkü sitemiz eklenicek olan her bir bot ve kod geliştirici ekibimizin incelemesi sonucunda ekleniyor bu durumda hiç bir özel bilginizi(Token, Client Screet vb.) çalıcak uygulamalar eklenmemektedir.<br>
                <br>&raquo <b>Web API'niz de ne tür istekler barındırıyor?</b><br> API'miz her botlist de olduğu gibi bizdede sadece bota oy verilmiş mi? verilmemiş mi? üzerinde kontoller sağlanmaktadır, botunuza dair özel bilgileri sağlamamamktadır.<br>
                <br>&raquo <b>Premium Botlar neye göre nasıl ekleniyor?</b><br>Premium botlar discord sunucumuza yapacağınız 2 Boost Takviyesi veya 5TL/Ay gibi ücretlendirme ile ekliyoruz, ödemeleri kurucularımızdan <a title="Discord" href="https://discordapp.com/users/586822327568695317" target="_blank" style="background: rgba(0, 147, 245, 0.31); color: rgba(255, 255, 255, 0.81); border-radius: 2px;">&nbsp;@GweepCreative#5804&nbsp;</a> takip etmektedir her hangibir işlem sırasında onunla iletişime geçilmesi arz edilir.<br>
              <br>&raquo başka sorularınız için <a title="Discord" href="/discord"><i class="fab fa-discord"></i>&nbsp;Discord</a> Sunucumuza bekliyoruz.
                </p>
            <br>
                       <p class="has-text-white" style="text-align: center; font-size: 25px"> Frequently Asked Questions(FAQ) <i class="fad fa-question-circle"></i></p>
            <p class="text-muted">
                &raquo <b>Who are we?</b><br>We are the RabeL Code team that supports Discord bot developers and tries to ensure better positioning of their bots and allows any developer to access any code.<br>
                <br>&raquo <b>Can I Trust You?</b><br>We can undoubtedly say yes to this question because we only want our users to have access to Discord Username and profile photos that pose no threat, in which case no private information is provided and
Our website is protected 24/7, which means attackers cannot access your data. means.<br>
                <br>&raquo <b>Are the bots and codes you host on your website causing any inconvenience?</b><br>No, since our site is added as a result of the review of every bot and code developer team to be added, in this case, applications that will run any of your private information (Token, Client Screen, etc.) will not be added.<br>
                <br>&raquo <b>What kind of requests does your web API host?</b><br> Our API is just like every botlist, has we just voted for the boat? not given? such controls are provided, they do not provide private information about your bot.<br>
                <br>&raquo <b>How are Premium Bots added?</b><br>We add premium bots to our Discord server with 2 Suggestions or 5TL / Month, payments are followed by our founders <a title="Discord" href="https://discordapp.com/users/586822327568695317" target="_blank" style="background: rgba(0, 147, 245, 0.31); color: rgba(255, 255, 255, 0.81); border-radius: 2px;">&nbsp;@GweepCreative#5804&nbsp;</a>  It is requested to contact him during any transaction.<br>
              <br>&raquo We welcome you to our <a title="Discord" href="/discord"><i class="fab fa-discord"></i>&nbsp;Discord</a> server for any further questions.
                </p>/span>) on your profile to let people know that you are certified.
                </p>
            <br>
        </div>
    </div>
    <center>
    <button onclick="location.href='/'" class="btn btn-back"><i class="fad fa-home-lg-alt"></i>&nbsp;Back to main</button>
    </center>
</div>

<%- include('parts/foot') %>
<script type="text/javascript" src="https://lean-pie-romano.glitch.me/kod-kaynak/yukari-cik/wk-yukari-cik-1.js"></script>
