<html lang="en">
<head>
<link rel="icon" href="https://cdn.discordapp.com/attachments/821044714119495690/822405323444584478/755243061088616458.gif" type="image/x-icon" />
<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/821044714119495690/822405323444584478/755243061088616458.gif" type="image/x-icon" />
<link rel="stylesheet" href="../../css/bulma.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1569006288/BBBootstrap/choices.min.css?version=7.0.0">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
</head>
<div id="loader-wrapper">
    <center>
    <div class="preloader">
    <div id="loader" class="loader loader-1">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>
    </div>
    </center>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    
</div>
<body id="content">
<nav class="navbar navbar-expand-lg navbar-dark bg-vcodes">
    <div class="container"><a class="navbar-brand" href="/">
        <strong class="h6 mb-0 font-weight-bold text-uppercase" style="font-size:25px;"><img class="vcodes-logo-nav" src="https://cdn.discordapp.com/attachments/821044714119495690/822405323444584478/755243061088616458.gif">RabeL Code</strong></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
               <li class="nav-item active"> <a title="Home" class="nav-link" href="/"><i class="fad fa-home"></i>&nbsp; Home</a></li>
                <li class="nav-item active"><a title="Bots" class="nav-link" href="/bots"><i class="fad fa-robot"></i>&nbsp;Bots</a></li>
                <li class="nav-item active"><a title="Certification" class="nav-link" href="/certification"><i class="fad fa-stars"></i>&nbsp;Certification</a></li>
                <li class="nav-item active"><a title="Team" class="nav-link" href="/team"><i class="fad fa-users"></i>&nbsp;Team</a></li>
              <li class="nav-item active"><a title="Partners" class="nav-link" href="/partners"><i class="fad fa-handshake-alt"></i>&nbsp;Partners</a></li>

                <% if(user) {%>
                
                <% if (bot.guilds.cache.get(config.serverID).members.cache.get(user.id)) {%>
                    <% if (bot.guilds.cache.get(config.serverID).members.cache.get(user.id).roles.cache.get(roles.yonetici) || bot.guilds.cache.get(config.serverID).members.cache.get(user.id).roles.cache.get(roles.moderator)) { %>
                        <li class="nav-item active"><a class="nav-link" title="Admin" href="/admin"><i class="fad fa-crown"></i>&nbsp;Admin Panel</a></li>
                    <% } %>
                    <% } %>
                    <li class="nav-item dropdown " >
                        <a class="nav-link dropdown-toggle has-text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img draggable="false" src="https://api.slushie.gg/avatar/<%= user.id %>" style="width: 30px; border-radius: 50%;">  <%= user.username %>
                        </a>
                        <div title="RabeL Code" class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
                          <a title="Add Bot" class="dropdown-item" href="/addbot"><i class="fad fa-plus"></i>&nbsp;Add Bot</a>
                          <div class="dropdown-divider"></div>
                          <a title="Profile" class="dropdown-item" href="/user/<%=user.id%>"><i class="fad fa-user"></i>&nbsp;Profile</a>
                          <a title="Uptime Links" class="dropdown-item" href="/uptime/links"><i class="fad fa-cloud-upload-alt"></i>&nbsp;Uptime Links</a>
                          <a title="Code" class="dropdown-item" href="/codes"><i class="fad fa-code"></i>&nbsp;Code</a>
                          <div class="dropdown-divider"></div>
                          <a title="Log Out" class="dropdown-item" href="/logout"><i class="fad fa-sign-out-alt"></i>&nbsp;Logout</a>
                        </div>
                      </li>
                <% } else {%>
                    <li class="nav-item active"><a class="nav-link" title="Log Out" href="/login"><i class="fad fa-sign-in-alt"></i>&nbsp;Login</a></li>
                <% } %>           
            </ul>
        </div>
    </div>
</nav>